<h1>All tasks</h1>

<% @tasks.each do |task| %>
  <h2><%= task.name %></h2>
  <p><%= task.description %></p>
  <%= link_to "More details", task_path(task) %>
  <%= link_to "Remove Task", task_path(task), method: :delete %>
<% end %>


<h2><%= link_to "Create a new Task", new_task_path %></h2>
